﻿@model SolveVM
@{
    ViewData["Title"] = "Solve";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Solve" method="get">
            <div class="form-group">
                <label asp-for="Expression" class="control-label"></label>
                <textarea asp-for="Expression" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <textarea asp-for="Result" class="form-control" disabled="disabled" readonly="readonly"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Solve</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}